@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --text-color-light: #6246EA;
    --text-color-dark: #412F9C;
}

body {
    font-family: poppins, sans-serif;
    min-height: 100vh;
    
}

.container {
    height: 100%;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0 0 0 /.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal .spin {
    width: 50px;
    aspect-ratio: 1;
    border: 10px solid white;
    border-top-color: #BE4949;
    border-radius: 50%;
    animation: spin .5s linear .2s infinite;
}

@keyframes spin{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.loading {
    width: 20px;
    height: 20px;
    /* background-color: white; */
    border: 3px solid white;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin2 .5s linear .2s infinite;
}

@keyframes spin2{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

.error {
    color: red;
    display: block !important;
    font-size: .8rem;
}

.wrapper {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    margin-inline: auto;
    min-height: 100vh;
    padding-top: 0;
    /* display: none; */
}

.active {
    display: none !important;
}

.image {
    height: 50vh;
    /* background-color: green; */
}

img, img.image1 {
    width: 100%;
    height: 100%;
}

.title {
    /* background-color: blue; */
}

.title h2,
.form-title h2 {
    font-weight: 600;
    color: #412F9C;
    font-size: 1.8rem;
    text-align: center;
}

.progress-bar {
    display: flex;
    gap: 5px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.a, .c {
    width: 20%;
    height: 5px;
    background-color: #CBC1F8;
    border: none;
}

.b {
    width: 10%;
    height: 5px;
    border: none;
    background-color: #CBC1F8;
}

.mark {
    background-color: #7C65ED;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    outline: none;
    height: 53px;
    background-color: #BE4949;
    border-radius: 14.58px;
    margin-top: 10px;
    color: #f6f6fb;
    font-weight: 600;
    gap: 10px;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: rgba(190, 73, 73, .8);
}

.arrow {
    height: auto;
    width: 20px;
}




.form {
    display: block;
    padding: 20px;
}

.form-title {
    /* background-color: green; */

}

.back-btn {
    background-color: tr;
    stroke: #8B8B9B;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}

.back {
    width: 15px;
    height: 50px;
    float: left;
    
}

.form-title h2 {
    text-align: left;
    padding-top: 10px;
}

.form-title p {
    font-size: .9rem;
    margin-top: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.4;
    color: #8B8B9B;
    width: 80%;
    text-align: center;
    margin-inline: auto;
    width: auto;
    padding-inline: 15px;
}

form {
    /* background-color: red; */

}

form input {
    display: block;
    width: 90%;
    border: none;
    height: 100%;
    outline: none;
    font-family: inherit;
    background-color: inherit;
    padding-left: 10px;
    color: rgba(0 0 0 / .6);
    font-weight: 600;
    font-size: 1rem;
}

input::placeholder {
    color: #8B8B9B;
    font-weight: initial;
    font-size: .8rem;
}

.input {
    width: 100%;
    /* background-color: yellow; */
    border: 2px solid #9684F1;
    border-radius: 8px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

}

.list {
    width: 15px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

label {
    display: block;
    margin-top: 15px;
    color: #6246EA;
    font-weight: 600;
}

.progress-bar2 {
    margin: 40px 0;
}

img {
    width: 10px;
}




.cgpa-field {
    /* background-color: red; */
}

.cgpa-field {
    min-height: 100vh;
    padding: 20px;
}

.cgpa-field .top {
    display: flex;
    align-items: center;
    gap: 15px;

}

.welcome {
    text-transform: capitalize;
}

.cgpa-field .top img {
    cursor: pointer;
}

.top h2, .details h2{
    color: var(--text-color-dark);
    font-size: 2rem;
}

.add-semester {
    display: flex;
    align-items: center;
    gap: 8px;
    /* float: right; */
    margin-left: auto;
    width: max-content;
    color: var(--text-color-dark);
    
}

.add-semester img {
    cursor: pointer;
}

.add-semester h3 {
    font-size: 1.2rem;
}

.semester .flex {
    display: flex;
    margin-bottom: 15px;
}

.semester > div > h3 {
    color: var(--text-color-dark);
    font-size: 1.2rem;
    margin: 10px 0;
}

.add-semester img {
    width: 20px;
}

.cgpa-field .title {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: var(--text-color-light);
    font-weight: 600;
    /* background-color: red; */
    width: 100%;
    padding-inline: 30px;
    
}

.cgpa-field .title p {
    width: calc(100% / 3);
}

.course-input {
    background-color: #FAFAFA;
    /* background-color: white; */
    border-radius: 10px;
    padding: 15px;
    height: 200px;
    overflow-y: auto;
}

.course-input .input1 {
    background-color: white;
    /* background-color: #FAFAFA; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.input1 > input,
.input1 .grade-input {
    height: 35px;
    width: 30%;
    background-color: inherit;
    outline: none;
    border: 1px solid var(--text-color-light);
    padding-inline: 5px;
    border-radius: 10px;
    color: var(--text-color-light);
    font-weight: 600;
}

.input1 .grade-input {
    display: flex;
    align-items: center;
}

.input1 .del img {
    /* background-color: green; */
    width: 25px;
    cursor: pointer;
}

.input1 .grade-input input {
    width: 85%;
    height: 100%;
    outline: none;
    border: none;
    color: var(--text-color-light);
    font-weight: 600;
    background-color: inherit;
}

.grade-input img {
    cursor: pointer;
}

.grade-input {
    position: relative;
}

.grade-input ul {
    position: absolute;
    background-color: hsl(0, 0%, 90%);
    bottom: -5px;
    left: 0;
    transform: translateY(100%);
    z-index: 5;
    width: 100%;
    color: var(--text-color-dark);
    border-radius: 10px;
    overflow: hidden;
    font-weight: 600;
}

li {
    list-style-type: none;
}

.grade-input ul li {
    padding: 3px 10px;
    transition: all .2s linear;
    cursor: pointer;
}

.grade-input ul li:hover{
    background-color: white;
    
}

.course-number {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 10px;
}

.course-number > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.course-number input {
    width: 35px;
    height: 28px;
    background-color: inherit;
    outline: none;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    color: var(--text-color-dark);
    font-weight: 600;
    padding-left: 3px;
}

.course-number p {
    color: var(--text-color-dark);
    font-weight: 600;
}

.course-number img {
    cursor: pointer;
}

.details {
    margin-top: 20px;
}

.details > p {
    color: var(--text-color-light);
    font-weight: 600;
    margin-top: 5px;
}

.details .line {
    width: 75%;
    height: 2px;
    background-color: var(--text-color-light);
    margin: 20px 0;
    margin-inline: auto;
}

.details .gpa, .details .cgpa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color-light);
    font-weight: 600;
}

.details .gpa h1,
.details .cgpa h1 {
    color: var(--text-color-dark);
}



.details button {
    border: 1px solid var(--text-color-dark);
    background-color: transparent;
    color: var(--text-color-dark);
    transition: all .1s linear;
}

.details button:hover {
    background-color: #CBC1F8;
}

.add-course {
    color: var(--text-color-dark);
    background-color: hsl(0, 0%, 90%);
    width: 35px;
    height: 28px;border-radius: 5px;
    margin-top: 0;
}

.add-course:hover,
.add-course:focus {
    background-color: hsla(0, 0%, 90%, .7);
}


.help-modal {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0 0 0 / .2);
    width: 85%;
    max-width: 700px;
    /* height: 80vh; */
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s ease-in-out;

}

.help-modal img {
    width: 50px;
    height: auto;
    /* margin-inline: auto; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    cursor: pointer;
}

.help-modal h2 {
    text-align: center;
    padding: 15px 0;
    margin: 10px auto 8px;
    color: var(--text-color-dark);
}

.help-modal ul {
    width: 100%;
    background-color: #E0DAFB;
    color: var(--text-color-dark);
    padding: 20px;
    border-radius: 5px;
}

.help-modal li {
    line-height: 2;
    margin: 5PX 0;
}

.help-modal.open {
    opacity: 1;
    pointer-events: all;
}




@media (min-width: 800px) {
    body {
        height: 100vh;
    }

    .image {
        height: 50vh;
        width: 40vw;
        min-width: 400px;
        /* background-color: green; */
    }

    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 100px;
        gap: 20px;
        height: 100vh;
        /* background-color: red; */
    }

    .title {
        width: 45vw;
        min-width: 500px;
        /* min-width: 500px; */
        /* background-color: gainsboro; */
    }

    .title h2 {
        /* background-color: green; */
        max-width: 100%;
        font-size: 3rem;
        text-align: left;
    }

    .progress-bar {
        margin-top: 25px;
        justify-content: flex-start;
    }

    button {
        margin: 25px 0;
        max-width: 500px;
    }


    .form {
        display: flex;
        justify-content: center;
        /* justify-content: space-between; */
        gap: 70px;
        padding: 20px 10px;
        margin-inline: auto;
        /* background-color: blue; */
        width: max-content;
    }

    form {
        width: 50vw;
        max-width: 400px;
    }

    .form-title {
        width: 40vw;
        min-width: 400px;
        max-width: 500px;
        justify-self: flex-start;
    }

    .form-title h2 {
        text-align: left;
        font-size: 2.5rem;
        margin-bottom: 15px;
    }

    .form-title p {
        font-size: 1.5rem;
        width: auto;
        text-align: left;
        line-height: 1.7;
        padding-inline: initial;
        margin-top: 10px;
    }

    .back-btn {
        position: absolute;
        top: 30px;
        left: 0;
        /* background-color: #9684F1; */
        /* stroke: #fff; */
        display: flex;
        align-items: center;
        justify-content: center;
    }




    .cgpa-field {
        padding: 50px;
        height: 100vh;
    }

    .last-page {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        /* align-items: center; */
        
    }

    .semester {
        /* background-color: blue; */
        width: 45%;
    }

    .details {
        /* background-color: green; */
        width: 45%;
        margin-top: auto;
    }

    .add-semester h3, .semester>div>h3 {
        font-size: 1.5rem;
    }

    .details>p {
        margin-top: 10px;
    }

    .semester button {
        width: 90%;
        height: 70px;
    }

    .details button {
        height: 70px;
    }

    .details .line {
        margin: 30px;
        margin-inline: initial;
    }

    .add-course {
        color: var(--text-color-dark);
        background-color: hsl(0, 0%, 90%);
        width: 50px !important;
        height: 28px !important;
        border-radius: 5px;
        margin: 0;
    }

    .help-calc {
        width: auto !important;
    }

    

}

